<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new chat</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h3>Add new chats here.</h3>
    <form action="/chats" method="post" class="newform">
        <input type="text" name="from" placeholder="From who" class="input"><br><br>
        <input type="text" name="msg" placeholder="Write your Message" class="input"><br><br>
        <input type="text" name="to" placeholder="To whom" class="input"><br><br>
        <button>Add New Chat</button>
    </form>
</body>
</html>